@import url("https://fonts.googleapis.com/css?family=Roboto");

.card,
.card-body,
.card-title,
.card-text {
  margin: 0;
  padding: 0;
}

.global-debug-info {
  display: block;
}

.global-debug-info strong {
  color: #880000;
}

* {
  font-family: "Roboto";
}

h2 {
  margin: 0;
  padding: 20px;
  color: #555555;
}

p {
  padding: 10px;
  font-size: large;
  margin-top: 0;
  margin-bottom: 0;
  color: #555555;
}

.nav-bar a {
  text-decoration: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}


/******************************************************************************/
/***** Welcome & Broken Page **************************************************/

.welcome-page h2 {
  text-align: center;
}

.welcome-page p {
  text-align: center;
}

.broken-page h2 {
  text-align: center;
}

.broken-page p {
  text-align: center;
}

/******************************************************************************/
/***** Survey Pagee ***********************************************************/

.survey-page .survey-question {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.survey-page .survey-options {
  margin-left: 40px;
}

.survey-page input {
  margin-right: 10px;
}

.survey-page textarea {
  display: block;
  width: 90%;
  margin: 10px 40px;
  padding: 10px;
  border: 1px solid #dddddd;
}

/******************************************************************************/
/***** Gallery Pagee **********************************************************/

.gallery-page .container {
  margin: 20px 0;
}

.gallery-page .col {
  padding-left: 0;
  padding-right: 0;
}

.gallery-page .card {
  text-align: center;
  margin: 15px auto;
  height: 90%;
  padding: 15px;
  width: 130px;
  border: 0;
}

.gallery-page .card img {
  object-fit: contain;
  height: 150px;
}

.gallery-page .card-text {
  display: block;
  margin: 0.2em 0;
}

.gallery-page .card-body {
  text-align: center;
}

.gallery-page .card-blank {
  height: 38px;
}

.gallery-page .card-body button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
}

/******************************************************************************/
/***** Select1 Pagee **********************************************************/

.select1-page .container {
  margin: 20px 0;
}

.select1-page .card {
  text-align: center;
  margin: 15px auto;
  height: 90%;
  padding: 15px;
  width: 200px;
  border-color: #dddddd;
}

.select1-page .card-title {
  display: block;
  margin: 0.2em 0;
}

.select1-page .card-text {
  display: block;
  margin: 0.2em 0;
}

.select1-page .card-blank {
  height: 38px;
}

.select1-page .card-body button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
}

/******************************************************************************/
/***** Gaoltree Pagee *********************************************************/



/******************************************************************************/
/***** Select2 Pagee **********************************************************/

.select2-page .tree {
  margin-left: 100px;
  margin-right: 100px;
}

.select2-page input {
  margin: 5px 10px;
}

.select2-page li {
  list-style: none;
}

/******************************************************************************/
/***** Rating Pagee ***********************************************************/

.rating-page .tree {
  margin-left: 100px;
  margin-right: 100px;
}

.rating-page .tree-item-head {
  padding: 0.2em;
  padding-left: 0.5em;
  border-bottom: 1px dashed #aaaaaa;
}

.rating-page .tree-item-head .left {
  float: left;
}

.rating-page .tree-item-head .stars {
  display: block;
  text-align: right;
}

.rating-page li {
  list-style: none;
}

/******************************************************************************/
/***** Inputs Pagee ***********************************************************/

.input-page .form-range {
  margin: 30px;
  width: 150px;
  display: inline;
}

.input-page .input-question {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.input-page input {
  margin-right: 10px;
}

.input-page .input-option {
  margin-left: 40px;
}

.input-page .input-question {
  margin-top: 20px;
}

.input-page .input-question p {
  margin-bottom: 5px;
}

/******************************************************************************/
/***** Summary Pagee **********************************************************/

.summary-page Form {
  text-align: center;
  margin: 50px;
}

.summary-page textarea {
  font-family: monospace;
}

/******************************************************************************/
/***** Products Pagee *********************************************************/

.products-page .reg-table {
  display: block;
  padding: 10px 40px;
  font-size: 14px;
}
